{% load  static %}
{% block content %}
  <link rel="stylesheet"
        href="{% static 'pathfinderapp/css/base_style.css' %}">
  <link rel="stylesheet"
        href="{% static 'pathfinderapp/css/chat_window.css' %}">
  {% include "./navbar.html" %}
  <h3>Chat with GPT</h3>
  <form method="post">
    {% csrf_token %}
    <input type="text"
           name="query"
           placeholder="Ask a question"
           class="form-control" />
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
  {% if response %}<div>{{ response|safe }}</div>{% endif %}
{% endblock content %}

<script>
     const minput = document.getElementById("userMsgInput");
     const chatForm = document.getElementById("chatform");
     const pathfinder_api_url = "{% url 'chatbot' %}";

    async function submitChat(usrquery){
      try{
        const resp = await fetch(pathfinder_api_url, {
          method: 'POST',
         headers: {
           'Content-Type': 'application/json',
           'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
         },
         body: JSON.stringify({'user_message': usrquery})
       });
        if(resp.ok){
          const data = await resp.json();
          const pf_response = data['pathfinder_response'];
          return pf_response;
        }
        minput.value = '';
      } catch (err) {
        minput.value = '';
        console.log(err);
      }
       return '(-) ERROR: Something went wrong, please try again later.';
     }

      chatForm.addEventListener('submit', async (event) => {
      event.preventDefault();
      const usermessage = minput.value;
      const pf_response = await submitChat(usermessage.trim())
      const bot_response = [
        {
          messageType: 'raw',
          headIcon: '../static/pathfinderapp/img/A.jpg',
          name: 'PathFinder Knowledge Bot',
          position: 'left',
          html: pf_response,
        },
      ];
      const usr_query = [
      {
          messageType: 'raw',
          headIcon: '../static/pathfinderapp/img/B.jpg',
          name: 'RealHumanUser4000',
          position: 'right',
          html: usermessage,
        },
      ];
      beforeRenderingHTML(usr_query, '.lite-chatbox');
      beforeRenderingHTML(bot_response, '.lite-chatbox');
      console.log(usermessage)
      console.log(pf_response)
    }

    );

</script>