<!DOCTYPE html>
{%load static%}

<html>

{%include "./navbar.html"%}
<head>
    <title>GDPR Policy for Pathfinder</title>
    <style>
        body {
            background-color: #f6eedf;
        }

        h1,
        h2 {
            color: white;
            background-color: #f57b51;
            padding: 10px;
        }

        p {
            font-size: 18px;
        }

        ul {
            list-style-type: square;
        }
    </style>
</head>

<body>
    <h1>GDPR Policy for Pathfinder</h1>
    <h2>Categories of Personal Information Gathered</h2>
    <p>We gather personal information that is required for the delivery of our services. This comprises of:</p>
    <ul>
        <li>Users' entered search terms and prompts</li>
        <li>Materials made available as a result of user inquiries</li>
        <li>User preferences determined on search history and recently saved resources</li>
    </ul> <h2>Processing of Data</h2>
    <p>To give users access to an interactive search engine that enables them to explore a variety of topics of
        interest, we process users' personal data. Additionally, we use personal data to enhance our offerings and cater
        users' home pages to their preferences and past searches.</p>
    <h2>How the Data is Collected</h2>
    <p>We collect data through users' interaction with our search engine and saved resources.</p>
    <h2>Legal Justification for Data Processing</h2>
    <p>User consent serves as our legal justification for processing personal data. While using our services, users have
        the choice to give their consent for the collection, handling, storage, and sharing of their personal data.</p>
    <h2>Data Deletion and Retention</h2>
    <p>We only keep user data as long as it's essential to deliver our services and as long as it's mandated by law.
        When the data is no longer required for these purposes, we will securely destroy it in line with GDPR
        regulations.</p>
    <h2>Sharing of Personal Information</h2>
    <p>In order to help us deliver our services, we may share personal information with outside service providers. We
        make sure that these service providers adhere to the GDPR and have adequate security measures in place to
        protect personal information.</p>
    <h2>Data Protection Rights</h2>
    <p>Data subjects' rights include the ability to view, update, delete, restrict, or object to the processing of their
        personal information. Also, they are entitled to data portability and the capacity to complain to a supervisory
        authority. Access limits, data encryption, and regular backups are just a few of the security precautions we've
        put in place to safeguard the safety of your personal information.</p>
    <h2>Marketing</h2>
    <p>We do not use personal information for marketing purposes.</p>
    <h2>Cookies</h2>
    <p>Cookies are small data files stored on users' devices when they access our search engine.</p>
    <h2>How Cookies are Used</h2>
    <p>We use cookies to personalize users' experience, remember preferences, and analyze website traffic.</p>
    <h2>Types of Cookies Used</h2>
    <p>We use functional cookies, which are necessary for the search engine to function, and analytics cookies, which
        help us understand how users interact with our search engine.</p>
    <h2>Manage Cookies</h2>
    <p>Users can manage their cookies through their browser settings.</p>
    <h2>Privacy Policies of Other Websites</h2>
    <p>Our privacy policy applies only to our interactive search engine. Users should read the privacy policies of other
        websites they access through our search engine.</p>
    <h2>Changes to Our Privacy Policy</h2>
    <p>We may update our privacy policy from time to time. Any changes will be posted on our website.</p>
    <h1>Contact us:</h1>
    <p>Users can contact us by emailing any of our team members at their email addresses which are:</p>
    <ul>
        <li>Abdulla Al Blooshi – <a href="mailto:axa1808@student.bham.ac.uk">axa1808@student.bham.ac.uk</a></li>
        <li>Joud El Ali – <a href="mailto:jre073@student.bham.ac.uk">jre073@student.bham.ac.uk</a></li>
        <li>Mustafa Khalaf Hamoud – <a href="mailto:mxk269@student.bham.ac.uk">mxk269@student.bham.ac.uk</a></li>
        <li>Sarah Sami – <a href="mailto:sss160@student.bham.ac.uk">sss160@student.bham.ac.uk</a></li>
        <li>Warisa Areeba – <a href="mailto:wxa199@student.bham.ac.uk">wxa199@student.bham.ac.uk</a></li>
        <li>Xahir Siddique – <a href="mailto:xxs039@student.bham.ac.uk">xxs039@student.bham.ac.uk</a></li>
        <li>Jiahao Yang – <a href="mailto:jxy068@student.bham.ac.uk">jxy068@student.bham.ac.uk</a></li>
        <li>Yujing Xu – <a href="mailto:yxx190@student.bham.ac.uk">yxx190@student.bham.ac.uk</a></li>
    </ul>
    <h1>How to contact the appropiate authorities:</h1>
    <p>If users have concerns about their data privacy, they can contact our point of contact:
        <li>Panagiotis Andriotis, at <a href="mailto:p.andriotis@bham.ac.uk">p.andriotis@bham.ac.uk</a> or the
            appropriate supervisory authority.
    </p>
    </li>
</body>

</html>