<!DOCTYPE html>
{%load static%} {%include "./navbar.html"%}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'pathfinderapp/css/login.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anuphan&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login-top">
      <img
        class="login-logo"
        src="/static/pathfinderapp/img/pflogo.png"
        alt="Logo"
      />
      <h1 class="login-title">Welcome Back!</h1>
    </div>
    <div class="login-bottom">
      <form action="" method="POST" class="mx-auto" style="max-width: 300px;">{% csrf_token %}
      <div class="mb-3">
        <label='' for="exampleInputEmail1" class="form-label" ></label>
        <input
          type="text"
          class="form-control"
          name="username"
          placeholder='Username'
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label='' for="exampleInputPassword1" class="form-label"></label>
        <input type="password" class="form-control" name="password" placeholder='Password' />
      </div>
      <div>
        <input type="submit" value="Log in" class="btn btn-secondary" />
        {%if user.is_authenticated%} {% else %} {% endif %}
      </div>
      <p class="login-desc">
        Not registered yet?
        <a class="login-link" href="{% url 'register_user' %}"
          >Create account</a
        >
      </p>
    </div>
  </form>
    <footer>
      <p>Copyright &copy; 2023 PathFinder</p>
    </footer>
  </body>
</html>
