{% include "./navbar.html" %}
{% block content %}
    <div style="display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh">
                <div style="text-align: center;">
                    <h1 style="font-size: 32px; font-weight: bold;">Thank you for contacting us! We will get back to you shortly.</h1>
                    <a href="/" style="display: block; margin-top: 20px; font-size: 20px; font-family: Arial, Helvetica, sans-serif;">Go back to home.</a>
                  </div>
                  
    </div>
{% endblock %}
{% include 'footer.html' %}
<style>
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
</style>
